// Minhas Fonts
@import "myfonts";

/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

// Minhas Variaveis
$cor_azul: #282165;
$cor_verde: #00A556;
$cor_branco_fosco: #E7E8E3;


// Variaveis Foundation
// foundation functions
@import "foundation/functions";

// Accordion Settings
$accordion-navigation-padding: rem-calc(5);
$accordion-navigation-bg-color: $cor_azul;
$accordion-navigation-font-color: $cor_branco_fosco;

$accordion-navigation-hover-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -15%);
$accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -10%);

// Color Settings
$main-color: $cor_azul;
$secondary-color: $cor_verde;

// Typography Settings
$header-font-family: 'Signika', 'Helvetica', sans-serif;
$body-font-family: 'Arimo', sans-serif;

// Top Bar
$topbar-title-weight: bold;
$color_top_01: white;
$fcolor_top_01: #262C35;

$topbar-bg-color: $color_top_01;
$topbar-link-color: $fcolor_top_01;

$topbar-dropdown-bg: $main-color;
$topbar-dropdown-link-bg: $main-color;
$topbar-dropdown-label-bg: $main-color;
$topbar-link-bg-hover:  $secondary-color;

//Compass/CSS3
@import "compass/css3";

// Imports para o fondation
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* 
INDICE
	1 - Globals
	2 - Cabelaçalho
	3 - Estrutura
	4 - Rodapé
	5 - Estilo de Títulos
	6 - Estilo de Texto
	7 - Botões
	8 - Navegação
	9 - Formulários
	10 - Extras / Miscelâneas
	11 - Media Queries
*/


/********************* 1 - Globals ********************************/

/********************* 2 - Cabelaçalho ****************************/

#header-top-site {
	height: 150px;
}

/********************* 3 - Estrutura ******************************/



.admin-content {
	margin-left: 220px;
}

.content-admin {
  padding: 15px 30px;
  margin-left: 220px;
}

div.editable {
	border: solid 2px transparent;
	padding-left: 15px;
	padding-right: 15px;

	border-color: #C4C4C4;

	min-height: 50px;

	&::hover {
		border-color: black;
	}
	
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#fotoCorretor {
	margin: auto;
	max-width: 200px;
	max-height: 200px;
	border: 2px solid black;
	box-shadow: -2px 2px 3px #43453A;
}

#tabela-corretores {
	tbody {
		overflow-y: auto;
  		overflow-x: scroll;
	}
}

.linha_split_decor {
	clear: both;
	width: 100%;
	height: 3px;
	
}

#linha_header_top {
	background-color: $main-color;
	top: 0;
}

#linha_header_bottom {
	background-color: $secondary-color;
	top: 45px;
}

/********************* 4 - Rodapé *********************************/

$cor_fonte_footer: #999999;

footer#rodape #sitemap li a.trigger {
	padding-left: 25px !important;
}

footer#rodape #sitemap li ul {
	padding-left: 15px !important;
}

.btn_social_footer {
	padding: 15px;


  	a {
  		font-size: 2em !important;
  		color: $cor_fonte_footer !important;
		transition: color 0.5s;

		&:hover {
			color: #5B5849 !important;
		}
  	}
	
}

footer#rodape {
	color: $cor_fonte_footer;
	background-color: #f1f1f1;
	width: 100% !important;

	border-top: 3px solid #999999;
	margin-top: 20px;
	padding-top: 15px;

	#sitemap, #sitemap * {
		list-style-type: none !important;
		margin: 0 !important;
		padding: 0 !important;

	}

	.logos_empresas img {
		width: 100%;
		background-position: center center;

	}

	.barra_copyright {
		background: #999999;
		color: white !important;
		padding: 10px !important;
	}

	h3 {
		font-size: 1.2em;
   		color: $cor_fonte_footer;
	}
	a {
		color: $cor_fonte_footer;
	}

	.accordion_list {margin:0}

	.accordion_list li {list-style-type:none}

	.accordion_list li.last-child {margin-left:19px; list-style-type:disc}


	.accordion_list .outer {border:1px solid #dadada; border-width:0 1px 1px; background: #fff}

	.accordion_list .inner {margin-bottom:0; padding:.5em 20px 1em; position:relative; overflow:hidden}

	.accordion_list .inner .inner {padding-bottom:0}

	.accordion_list .h {padding-top:.3em} /* vertical padding instead of vertical margin (ie8) */

	.accordion_list p {margin:.5em 1px 1em}

	/*  
	  Add styles for all links in the 'accordion':
	.accordion a {...}
	*/    

	a.trigger {display:block; padding-left:20px; background-image: url(/img/mais.jpg); background-repeat: no-repeat; background-position: 1px 50%}

	a.trigger.open {background-image: url(/img/menos.jpg)}

	.last-child a.trigger{padding-left:1px; background-image:none; font-weight:normal}



	a.active{font-weight:700; color:#f72; text-decoration:none}

}

/********************* 5 - Estilo de Títulos *********************/

.half-left-title {
	color: $secondary-color;
}

.half-right-title {
	color: $main-color;
} 

/********************* 6 - Estilo de Texto ************************/

.tipo-telefone {
	float: left;
	margin-left: 5px;
}

/********************* 7 - Botões *********************************/

.default-btn-cms {
	$btn-color: $main-color;

	@include border-radius(5px, 5px);
	background-color: $btn-color !important;

	&:hover {
		background-color: adjust-lightness($btn-color, +13) !important;
	}
}

.btn-cms {
	margin-top: 2px;
}

.quit-btn-cms {
	$btn-color: #970004;

	@include border-radius(5px, 5px);
	background-color: $btn-color !important;

	&:hover {
		background-color: adjust-lightness($btn-color, +10) !important;
	}
}

/********************* 8 - Navegação ******************************/

#navbar-menu-principal {
	border-top: 3px solid #282165;
	border-bottom: 3px solid #00A556;
	box-shadow: 0px 1px 5px #232323;
	background: white;

	a {
		font-size: 0.9em;
		transition: all 0.3s;
	}
}

#admin-menu {
	width: 220px;
	margin-top: 51px;
	background: $main-color;
	border-right: 3px solid $cor_verde;

	height:100vh;

	#menu_title {
		background: #282165 !important;
		
	}

	ul{
		margin: 0;
		padding: 0;

		li {

			background-color: $secondary-color;
			@include transition-property(all);
			@include transition-duration(0.3s);

			&:hover {
				background-color: adjust-lightness($secondary-color, +8);
			}

			li {
				padding-left: 20%;

				@include transition-property(all);
  				@include transition-duration(0.3s);

				&:hover {
					border-left: 5px solid adjust-lightness(#1A1540, +15);
				}
			}
		}
	}

	h3 {
		font-size: 1.4em;
		color: white;
		background: #1A1540;

		&:hover {
			background-color: adjust-lightness(#1A1540, +10);
		}
	}
	
	a {
		color: white;
	}


}

.menu-accordion {
	ul {
		list-style-type: none;
		
		h3 {
			cursor: pointer;
			margin: 0 !important;
			padding: 5px !important;
		}

		ul {
			display: none;
			li {
				a{
					display: block;
				}
			}
		}

		li.active ul {
			display: block;
		}
	}
}

.menu-links {
	li {
		
		a {
			font-weight: bold !important;
		}
	}
}

/********************* 9 - Formulários ****************************/

/********************* 10 - Extras/Miscelâneas ********************/
#logo_index_admin {
 	width: 84%;
}

#index_admin {
	@include background-image(radial-gradient(45px 45px, #FFFFFF 60px, #EFEFEF 200px));
	height: 100vh;
}

.light_right_border {
	border-right: 1px solid #D6D7D0 !important; 
}

.height_vh {
	height: 100vh !important;
}

.font_12 {
	font-size: 12px !important;

}

.font_10 {
	font-size: 10px !important;

}

.light_gray_f {
	color: #B6B8AB;
}

.green_f {
	color: #2F7938 !important;
}

hr.my_fancy_hr {
	border: 0; 
    height: 2px;
    padding: 0 !important;
    margin: 0 !important;
    padding: 0;
	
}

hr.hr_gradiente_dark_blue {
	@include background-image(linear-gradient(to right, rgba(#385559, 1) , rgba(white, 0)));
}

hr.hr_gradiente_white {
	@include background-image(linear-gradient(to right, rgba(white, 1) , rgba(white, 0)));
}

hr.hr_gradiente_light_green {
	@include background-image(linear-gradient(to right, rgba(#88ACA3, 1) , rgba(white, 0)));
}

hr.hr_gradiente_light_grey {
	@include background-image(linear-gradient(to right, rgba(#999999, 1) , rgba(white, 0)));
}

a.link_mediaforce {
	color: #BEEFF1 !important;
}

.no-margin-all {
	margin: 0 !important;
} 

.no-margin-left {
	margin-left: 0 !important;
}

.no-margin-right {
	margin-right: 0 !important;
}

.no-margin-left-right {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.margin_10 {
	margin: 10px !important;
}

.no-padding-all {
	padding: 0 !important;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.no-padding-left-right {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.small-symbol {
	font-weight: normal;
	font-size: 80%;
}

.box_shadow {
	box-shadow: -5px 5px 4px #45473D, -1px 0 #484A40, 0 1px #484A40, 1px 0 #484A40, 0 -1px #484A40;
}

.border_left_1 {
	border-left: 1px solid #ABB1AB;
}

.border_right_1 {
	border-right: 1px solid #D7D9D7;
}

.padding_dez {
	padding: 10px !important;
}

.padding_top_dez {
	padding-top: 10px !important;
}

.padding_quinze {
	padding: 15px !important;
}

.padding_vinte {
	padding: 20px !important;
}

.padding_trinta {
	padding: 30px !important;
}

.texto_centralizado {
	text-align: center;
}

.margem_bottom_10 {
	margin-bottom: 10px !important;
}

.margem_top_10 {
	margin-top: 10px !important;
}

.padding_dez_vinte {
	padding: 10px 20px !important;
}

.margin_left_10 {
	margin-left: 10px !important;
}

.padding_left_10 {
	margin-left: 10px !important;
}

.padding_left_20 {
	margin-left: 20px !important;
}


.ng-table-counts {
	display: none;
	margin: 0 !important;
}


/********************* 11 - Media Queries  ************************/

/********************* 12 - Página Index   ************************/

#home_index {
	
	* {
		font-family: 'Muli', sans-serif !important;
	}

	#fundo_banner_home {
	    @include background-image(linear-gradient(#c5e6d7, #f6fbf9));
	    height: 100%;

		width: 100%;
	}

	#banner_futura_uniao {
		margin: auto;
	}

	#chamada_sulamerica {
		border-top: 2px solid #C4C6BB;
  		border-bottom: 1px solid #C4C6BB;
		min-height: 100px;
		height: 100%;
		@include background-image(linear-gradient(#FDFDFD, #F5F5F5));
		display: block;
		overflow:auto;

		#texto_sulamerica {
			line-height: 160%;
			margin-top: 20px !important;
			font-size: 1.3em;
			color: #999999;
			padding-left: 15%;
		}

		#logo_sulamerica {
			width: 58%;
			padding: 10px;
		}
	}

	#futurauniao_features {

		h1 {
			font-size: 36px;
			color: #97a69f;
			margin-bottom: 30px;
			margin-top: 20px
		}

		h2 {
			font-size: 26px;
			font-weight: normal !important;
			color: #999999;
		}

		img {
			width: 30%;
		}

		p {
			width: 60%;
			margin: auto;
			height: 130px;
			color: #828282;
		}

		.campo_img {
			height: 140px;
		}

		button{
			border-radius: 5px;
			padding: 10px 30px;
			background: #30B4B6;
			color: white;
			transition: background 0.3s;

			&:hover {
				background: #75D9DB;
			}
		}

	}
}


/********************* 13 - Janelas Modais   ************************/

#indicadoresModal dl dd {
	width: 350px;
}

#indicadoresModal .tabs-content .content {
	margin-left: 350px !important;

	padding: 10px 50px;
}

.fundo_titulo_modal {
	background: url("/img/bola-futura-uniao.png");
	background-size: 100%;
	background-position: left bottom;
	height: 52px;
	margin-left: 5px;
	background-repeat: no-repeat;

	h2.titulo_modal {
		font-size: 1.7em;
		color: #969696;
		font-weight: normal!important;
		margin-left: 55px;
		padding-bottom: 3px;
	}
}

.reveal-modal {
	background: rgba(255, 255, 255, 0.92);
	p {
		padding: 10px 30px 0 30px;
	}
}

.reveal-modal.produtos-pagina {
	p {
		padding: 10px 31px;
		color: #969696 !important;
	}

	.accordion {
		margin-top: 20px;
	}

	dd.accordion-navigation {
		padding: 0px 31px;
		a {
			padding: 10px 15px;
			font-size: 1.8em;
			background: #bfd5ca;
			color: #485c52;
			border: 1px solid #8fb5a2;
			border-left: 6px solid #8fb5a2;
			transition: all 0.4s;

			&:hover {
				border-left: 6px solid #ACC8BA;
				background: #DBE8E1;
				color: #60796C;
			}

		}

		
	}

	dd.accordion-navigation.active {
		a {

			border-left: 6px solid #ACC8BA;
			background: #DBE8E1;
			color: #485c52;

		}
	}

	.tabs-content {
		margin: 0 !important;
		padding: 0 !important;

		p {
			margin: 0;

			margin-bottom: 0px !important;

			padding: 15px 20px 20px 52px !important;

  			@include background-image(linear-gradient(white, white, #FCFCFC, #ebebeb));

		}
	}


	.accordion-navigation .content  {
		padding: 0 !important;
		margin: 0 !important;
	}

	.content dl.tabs_accordion a {
		padding: 0 !important;
		margin: 0 !important;
		border: none !important;
		background: none !important;
		font-size: 1.2em;
		padding: 10px 20px !important;

		color: #ACBDB5;

		transition: color 0.3s;

		&:hover {
			color: #60796C;
		}

	}

	.tabs.tabs_accordion {
		border-left: 6px solid #bfd6ca;
		border-right: 1px solid #bfd6ca;
		
	}

	.tabs dd.active {
		
		background: url(/img/esfera-futurauniao-3.png);
		background-repeat: no-repeat;
		background-position: left center; 
		padding-left: 20px;
		margin-left: 15px;

		a {
			color: #60796C;
		}
	}
	.content dl.tabs_accordion {
		background: #e1faed;
		border-bottom: 1px solid #95B9A7;
	}

	.tabs-content * {
		border: none ;

	} 

	.tabs-content .content.active{
		border-left: 6px solid lightgray !important;
		border-right: 1px solid lightgrey !important;
		border-bottom: 1px solid lightgrey !important;
	}
}


.reveal-modal.conteudo-lista-estilo {

	.lista-conteudo {
		padding: 10px 30px;
	}

	dl {
		dd {

			a{
				margin: 2px;
				padding: 0;
				padding: 5px 25px;
				border-radius: 5px;
				font-size: 1.2em;
				font-weight: normal;
			}


		}

		dd.active {
			a {
				font-weight: bold;
			}
		}
	}
}

